html, body {
    color: white;
    /* background-color: rgb(50, 50, 50); */
    padding:  5em;
    width: auto;
}

html {
    background-image: linear-gradient(to bottom right, black, rgb(30,30,30));
}

div {

    margin:  1em;
    padding: 1em;
    border-radius: 1em;
    color: white;

    background-color: rgb(70, 60, 70);
    transition: background 1s linear;


}

blockquote {
    font-family: 'Courier New', Courier, monospace;
}


p {
    margin-left:1em;
}

div:hover {
    background-color: rgb(100, 100, 100);
}

